body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: url("../images/fon_demo.jpg") no-repeat;
    font-family: 'Bubblegum Sans', cursive;
}

a {
    text-decoration: none;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .row {
    height: 1%;
}

.row {
    display: block;
}

/* close commented backslash hack */
.container {
    width: 950px;
    height: auto;
    margin: auto auto;
}

#content {
    background: url(../images/content_border.png) no-repeat;
    height: 630px;
    width: 580px;
    margin-left: 323px;
    margin-bottom: 20px;
    background-color: #352D27;
}

#user-name {
    padding-top: 10px;
    padding-left: 20px;
}

#user-name h3 {
    color: #76A3AF;
    font-size: 20px;
}