#training {
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}
#training table {
	width: 80%;
	font-size: 20px;
	margin: 0 auto;
}
#training d {
	position: relative;
	top: -4px;
	padding-right: 6px;
}
#training input {
	background-color: yellow;
	border-radius: 5px;
	color: black;
	position: relative;
	top: -4px;
}
#error-panel {
	background-color: yellow;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 5px;
	border-radius: 5px;
	opacity: 0.7;
}